In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv("preprocessing/cleaned-spatial-data.csv")
df.head()

                  Country Name       Fishery       MPA
0                        Aruba  1.495000e+02  0.000105
1  Africa Eastern and Southern  3.871797e+06  5.040867
2                       Angola  4.598628e+05  0.004930
3                      Albania  1.590936e+04  2.798864
4                   Arab World  4.884786e+06  3.895480

# MEAN ,  STANDARD DEVIATION

In [10]:
df.describe()

            Fishery         MPA
count  1.970000e+02  197.000000
mean   1.080454e+07    8.256543
std    3.544040e+07   13.566597
min    1.495000e+02    0.000000
25%    2.179225e+04    0.268803
50%    2.010805e+05    2.708322
75%    1.964917e+06   10.549036
max    2.116924e+08   96.371277

# MEDIAN #

In [12]:
print('MPA: ',df['MPA'].median())
print('Fishery Consumption: ',df['Fishery'].median())

MPA:  2.7083223075186
Fishery Consumption:  201080.456666667

#  MAXIMUM

In [13]:
mpa_max = df['MPA'].idxmax()
print('MPA: ',df['Country Name'][mpa_max], ':',df['MPA'].max())
fish_max = df['Fishery'].idxmax()
print('Fishery: ',df['Country Name'][fish_max], ':',df['Fishery'].max())

MPA:  New Caledonia : 96.371277209355
Fishery:  World : 211692360.49

# MINIMUM

In [14]:
mpa_min = df['MPA'].idxmin()
print('MPA: ',df['Country Name'][mpa_min], ':',df['MPA'].min())
fish_min = df['Fishery'].idxmin()
print('Fishery: ',df['Country Name'][fish_min], ':',df['Fishery'].min())

MPA:  Benin : 0.0
Fishery:  Aruba : 149.5

# CORRELATION

In [19]:
data= pd.read_csv('preprocessing/cleaned_encoded_og_data.csv')
data.corr() #pearson correlation

,Country Name,2017,2018,2019,2020,2021,2022,2017.1,2018.1,2019.1,2020.1,2021.1,2022.1
Country Name,1.000000,0.013219,0.014208,0.013530,0.013167,0.014123,0.012414,0.087021,0.068363,0.084214,0.072477,0.056905,0.055639
2017,0.013219,1.000000,0.999856,0.999927,0.999855,0.999713,0.998847,-0.012838,-0.007018,-0.012801,0.004942,-0.002212,-0.097780
2018,0.014208,0.999856,1.000000,0.999917,0.999900,0.999882,0.999009,-0.013259,-0.007444,-0.013133,0.004621,-0.002365,-0.098477
2019,0.013530,0.999927,0.999917,1.000000,0.999974,0.999912,0.999185,-0.014034,-0.008277,-0.013981,0.003714,-0.003175,-0.098600
2020,0.013167,0.999855,0.999900,0.999974,1.000000,0.999960,0.999326,-0.014512,-0.008798,-0.014460,0.003220,-0.003383,-0.098854
2021,0.014123,0.999713,0.999882,0.999912,0.999960,1.000000,0.999388,-0.014809,-0.009095,-0.014712,0.002965,-0.003611,-0.099256
2022,0.012414,0.998847,0.999009,0.999185,0.999326,0.999388,1.000000,-0.015209,-0.009538,-0.015124,0.002380,-0.003575,-0.099319
2017.1,0.087021,-0.012838,-0.013259,-0.014034,-0.014512,-0.014809,-0.015209,1.000000,0.937656,0.991057,0.894627,0.885916,0.841766
2018.1,0.068363,-0.007018,-0.007444,-0.008277,-0.008798,-0.009095,-0.009538,0.937656,1.000000,0.931376,0.954253,0.945255,0.897810
2019.1,0.084214,-0.012801,-0.013133,-0.013981,-0.014460,-0.014712,-0.015124,0.991057,0.931376,1.000000,0.910774,0.896484,0.856637
2020.1,0.072477,0.004942,0.004621,0.003714,0.003220,0.002965,0.002380,0.894627,0.954253,0.910774,1.000000,0.988168,0.942342
2021.1,0.056905,-0.002212,-0.002365,-0.003175,-0.003383,-0.003611,-0.003575,0.885916,0.945255,0.896484,0.988168,1.000000,0.951024
2022.1,0.055639,-0.097780,-0.098477,-0.098600,-0.098854,-0.099256,-0.099319,0.841766,0.897810,0.856637,0.942342,0.951024,1.000000

# Correlation Matrix

In [20]:
x=np.array(df['MPA'])
y=np.array(df['Fishery'])
np.corrcoef(x,y)

array([[1.        , 0.01502074],
       [0.01502074, 1.        ]])

# Skewness

In [22]:
import scipy.stats as st
print(st.skew(x))
print(st.skew(y))

3.3784867968584638
3.975556375918898

# Kurtosis

In [23]:
print(st.kurtosis(x))
print(st.kurtosis(y))

16.167517780366982
15.21106661251315