In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("final merge.csv")

In [3]:
df.head()

,Country Name,Country Code_x,MPA,Share of global plastics emitted to ocean,FisheryConsumption
0,Angola,AGO,0.005,0.087804,401696.00
1,Albania,ALB,2.839,0.159782,15011.50
2,United Arab Emirates,ARE,11.270,0.001429,75357.00
3,Argentina,ARG,11.768,0.422376,828687.19
4,Antigua and Barbuda,ATG,0.182,0.000204,3185.00

# MEAN ,  STANDARD DEVIATION

In [5]:
df.describe()

,MPA,Share of global plastics emitted to ocean,FisheryConsumption
count,131.000000,131.000000,1.310000e+02
mean,9.789786,0.753015,1.537842e+06
std,17.784089,3.523996,7.567581e+06
min,0.000000,0.000000,8.604000e+02
25%,0.193000,0.000817,2.761672e+04
50%,1.714000,0.024299,1.421694e+05
75%,11.964500,0.212822,6.994502e+05
max,100.000000,36.384511,8.259375e+07

# MEDIAN #

In [7]:
print(df['MPA'].median())
print(df['Share of global plastics emitted to ocean'].median())
print(df['FisheryConsumption'].median())

1.714
0.024299153
142169.39

#  MAXIMUM

In [9]:
mpa_max = df['MPA'].idxmax()
print(df['Country Name'][mpa_max])
mpa_max = df['Share of global plastics emitted to ocean'].idxmax()
print(df['Country Name'][mpa_max])
mpa_max = df['FisheryConsumption'].idxmax()
print(df['Country Name'][mpa_max])

Palau
Philippines
China

# MINIMUM

In [11]:
mpa_min = df['MPA'].idxmin()
print(df['Country Name'][mpa_min])
mpa_min = df['Share of global plastics emitted to ocean'].idxmin()
print(df['Country Name'][mpa_min])
mpa_min = df['FisheryConsumption'].idxmin()
print(df['Country Name'][mpa_min])

Benin
Burkina Faso
Dominica

# Correlation

In [13]:
data = df.iloc[:,[2,3,4]]

In [14]:
data.corr() #pearson correlation

,MPA,Share of global plastics emitted to ocean,FisheryConsumption
MPA,1.000000,-0.068405,-0.021934
Share of global plastics emitted to ocean,-0.068405,1.000000,0.281212
FisheryConsumption,-0.021934,0.281212,1.000000

# Correlation Matrix

In [16]:
x=np.array(df['MPA'])
y=np.array(df['Share of global plastics emitted to ocean'])
np.corrcoef(x,y)

array([[ 1.        , -0.06840483],
       [-0.06840483,  1.        ]])

# Skewness

In [17]:
import scipy.stats as st

In [18]:
print(st.skew(x))
print(st.skew(y))

3.319376822492855
8.432345348535478

# Kurtosis

In [35]:
print(st.kurtosis(x))
print(st.kurtosis(y))

13.045233535386487
79.35579844599464